{
    "plugins": [
      "prettier"
    ],
    "extends": [
      "react-app",
      "react-app/jest",
      "plugin:prettier/recommended",
      "prettier"
    ],
    "rules": {
      "prettier/prettier": ["warn"],
      "import/order": ["warn", {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
        "newlines-between": "always-and-inside-groups"
      }]
    }
  }
  